build-dir/
*.flatpak
.flatpak-builder/
repo
repo-binary-addons/

audiodecoder.2sf/
audiodecoder.asap/
audiodecoder.dumb/
audiodecoder.fluidsynth/
audiodecoder.gme/
audiodecoder.gsf/
audiodecoder.modplug/
audiodecoder.ncsf/
audiodecoder.nosefart/
audiodecoder.openmpt/
audiodecoder.organya/
audiodecoder.qsf/
audiodecoder.sidplay/
audiodecoder.snesapu/
audiodecoder.ssf/
audiodecoder.stsound/
audiodecoder.timidity/
audiodecoder.upse/
audiodecoder.usf/
audiodecoder.vgmstream/
audiodecoder.wsr/
audioencoder.flac/
audioencoder.lame/
audioencoder.vorbis/
audioencoder.wav/
game.libretro.2048/
game.libretro.mrboom/
game.libretro/
imagedecoder.mpo/
imagedecoder.raw/
inputstream.adaptive/
inputstream.rtmp/
peripheral.joystick/
peripheral.xarcade/
pvr.argustv/
pvr.demo/
pvr.dvblink/
pvr.dvbviewer/
pvr.filmon/
pvr.hdhomerun/
pvr.hts/
pvr.iptvsimple/
pvr.mediaportal.tvserver/
pvr.mythtv/
pvr.nextpvr/
pvr.njoy/
pvr.octonet/
pvr.pctv/
pvr.sledovanitv.cz/
pvr.stalker/
pvr.teleboy/
pvr.vbox/
pvr.vdr.vnsi/
pvr.vuplus/
pvr.wmc/
pvr.zattoo/
screensaver.asteroids/
screensaver.asterwave/
screensaver.biogenesis/
screensaver.cpblobs/
screensaver.greynetic/
screensaver.matrixtrails/
screensaver.pingpong/
screensaver.pyro/
screensaver.stars/
screensavers.rsxs/
vfs.libarchive/
vfs.rar/
vfs.sftp/
visualization.fishbmc/
visualization.goom/
visualization.projectm/
visualization.shadertoy/
visualization.spectrum/
visualization.waveform/
